[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
pygame-gui = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
sphinx = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
